body {
     background-image:linear-gradient(#30498c, #8c3f30, rgb(68,202,255), #000000); 
         #titulo  {
        color:rgb(38, 120, 174);
        font-size: 40px;
        text-align: center;

}
  
.texto {
    color:rgb(43, 0, 255);
    font-size: 35px;
    text-align: justify;
}

#imagem {
    height: 400px;
    width: 800px;
    padding: 5px;
    margin: 5px;
    border:10px solid rgb(36, 144, 226));
    border-radius:25px ;
}