body {
     background-image:linear-gradient(#af5151, #c64420a7, rgb(246, 255, 68), #000000); 
         #titulo  {
        color:rgba(38, 120, 174, 0.851);
        font-size: 45px;
        text-align: center;

}
  
    .texto {
    color:rgb(30, 16, 100);
    font-size: 35px;
    text-align: justify;
}

#imagem {
    height: 400px;
    width: 800px;
    padding: 10px;
    margin: 10px;
    border:10px solid rgb(87, 87, 222);
    border-radius:25px ;
}